/* Estilos gerais */
.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  background-color: #ffffff; /* Fundo principal */
  width: 100%;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
}
