.searchBar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 12px;
    width: 35%;
    margin: 0 auto; 
  }

  .optionsContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .searchInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #182625;
    color: #182625;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .searchInput:focus {
    border-color: #3D5A73; /* Azul no foco */
  }
  
  .searchButton {
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
    background-color: #3D5A73;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #28403D;
    transform: scale(1.05);
  }
  
  .categoriesDropdown {
    position: relative;
    width: 200px;
  }
  
  .dropdownButton {
    background-color: #3D5A73;
    color: white;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    text-align: center;
  }
  
  .dropdownButton:hover {
    background-color: #28403D;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #182625;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adiciona rolagem */
    z-index: 10;
    color: white;
    font-weight: bold;
  }
  
  .dropdownItem {
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
    color: #182625;
  }
  
  .sortContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .order {
    font-weight: bold;
    color: #182625;
    font-size: 16px;
  }
  
  .sortSelect {
    background-color: #3D5A73;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .sortContainer:hover .sortSelect {
    background-color: #28403D;
  }